<!-- <h2><%= @albums.inspect %></h2> -->
<div class="albums-container">
	<% @albums.each do |album| %>
	<div class="album">
		<img src="<%= album.cover_url %>" alt="">
		<div class="title"><%= album.author %></div>
	</div>
	<% end %>
</div>