// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.namegroup {
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
	h2 {
		color: black;
	}
}
.card {
	border: 1px solid gray;
	border-radius: 3px;
	img {
		width: 100%;
	}
	.card-body {
		margin-top: 5px;
		padding: 5px 5px 5px 10px;
		p {
			font-size: 17px;
		}
	}
}

.map {
	height: 400px;
	width: 100%;
	border: 1px solid #CCCCCC;
	border-radius: 1px;
}