// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#listgroup {
	margin-bottom: 5px;
	padding-left: 25px;
}

.navbar-collapse .list-group li:hover {
	background-color: #EEEEEE;
	color: black;
}

.navbar-collapse .list-group li a:hover {
	color: black;
}

.navbar-collapse .list-group li a {
	text-decoration: none;
	color: gray;
}

